@model ViewModels.CategoryViewModel

@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Admin/_AdminLayoutPage.cshtml";
}

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "red-text text-darken-1" })
        <div class="input-field col s3">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "validate" } })
            @Html.LabelFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "red-text text-darken-1" })
        </div>
        <br />
        <input type="submit" value="Create" class="btn" />
    }
</div>
